.Card {
  display: flex;
  width: 20vw;
  height: 20vw;
  border-radius: 1em;
  background-color: rgba(203, 200, 200, 0.871);
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  text-align: center;

  @media screen and (max-width:900px) {
    height: 25vh;
    width: 25vh;
  }

  .image {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease-in-out;
    object-fit: contain;
    overflow: hidden;
    object-position: center;
    img {
      width: 100%;
      height: 100%;
      &::after{
        display: none;
      }
    }
  }
  .info {
    width: 80%;
    height: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .socials {
      display: flex;
      justify-content: space-evenly;

      svg{
        width: 20px;
        height: 20px;
        @media screen and (max-width:900px){
          width: 16px;
          height: 16px;
        }
        @media screen and (max-width:600px){
          width: 12px;
          height: 12px;
        }
      }
    }

    font-size: 1vw;
    @media screen and (max-width:600px){
      font-size: 2vw;
    }
  }
  h3 {
    transition: 0.5s all ease-in-out;
    font-size: 1.5vw;
    @media screen and (max-width:600px){
      font-size: 2.23vw;
    }
  }
  &:hover {
    .image {
      transform: scale(0.7);
    }
    .info {
      height: 25%;
      @media screen and (max-width:768px){
        height: 35%;
      }
    }
    h3 {
      transform: scale(0.7);
      // transition: 0.5s all ease-in-out;
    }
  }
}
