header {
    height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    
    }
    img{
        position: absolute;
        // z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }   
}
 header:hover{
    h1{
        display: none;
    }
 }
